@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label> Email</label>
        <input type="text" id="inputEmail"/>
    <label> Senha</label>
        <input type="password" id="inputSenha"/>
    <button onclick="entrar()">Logar</button>
</div>
<script>
    function entrar(){
        const dadosTela = {
            EmailUser: $("#inputEmail").val(),
            Password: $("#inputSenha").val()  
            }
            $.ajax({
                url:"../Home/Logar",
                method:"POST",
                data:dadosTela,
                success:function(x3){
                    debugger
                },
                error:function(x4){

                }
            })
    }

</script>
